.blog-list {
  padding-top: 33px;
}

.blog-entry {
  padding-bottom: 25px;
  margin-bottom: 40px;  
  border-bottom: 1px solid rgb(229, 229, 229);

  &:last-child {
    border-bottom: 0;
    margin-bottom: 0px;
  }

  .title-2 {
    margin-bottom: 0.5em;
  }

  .sub-title {
    font-style: italic;
    padding-top: 5px;
    padding-bottom: 25px;
  }
}
