.box {
    border-radius: $border-radius;
    background-color: $body-bg;
    box-shadow: $box-shadow;
    position: relative;
    color: $body-color;
    padding: $card-spacer-y $card-spacer-x;
    
    &_stretch {
        height: 100%;
    }
    &_spaced {
        margin-top: $spacer * 3;
    }
    &-column {
        padding-top: $spacer;
    }
    &_flex {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        .box-inner {
            flex: 1 0 auto;
            &_end {
                flex: 0 0 auto;
            }
        }
        @media (min-width:$screen-sm) {
            flex-direction: row;
        }
    }
    .image-block {
        max-width: 62px;

        @media (min-width:$screen-sm) {
            max-width: none;
            &:first-child {
                padding-right: $spacer * 2.5;
            }
        }
    }
}

.image-block {
    text-align: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        height: auto;
    }
    .text-center > & {
        margin-left: auto;
        margin-right: auto;
        text-align: inherit;
        img {
            margin-left: auto;
            margin-right: auto;
        }
    }
    .section-feature-listing &,
    .box & {
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }
}

.image-overflow {
    position: absolute;
    height: 100%;
    min-height: 100%;
    width: auto;
    top: 0;
    &-spacer {
        position: static;
        display: block;
        width: 100%;
        height: auto;
    }
    &-container {
        position: relative;
    }
    &_left {
        right: 0.5rem;
    }
}

.text-block {
    .numeration {
        color: $primary;
        font-size: $h5-font-size;
        font-weight: $font-weight-bold;
        line-height: $headings-line-height * $h4-font-size;
    }
    &_indented {
        padding-left: $grid-gutter-width;
        position: relative;
        @media (min-width: $screen-md){
            padding-right: $card-spacer-x;
        }
        .numeration {
            position: absolute;
            left: 0;

            img.icon {
                position: absolute;
                left: -4px;
                width: auto;
                height: auto;
                max-height: 32px;
                top: -2px;
                display: inline-block;
            }
        }
    }
}

.container_flex {
    display: block;

    .side-menu {
        position: fixed;
        left: 0;
        transform: translate3d(-100%, 0, 0);
        width: 50vw;
        max-width: 220px;
        
        .nav-link {
            cursor: pointer;
            position: relative;
            font-weight: $font-weight-normal;

            &:before {
                top: auto;
                left: auto;
                position: absolute;
                top: $spacer * 0.5;
                bottom: $spacer * 0.5;
                border-left: 2px solid $primary-light;
                left: 0;
            }

            &:hover,
            &:focus,
            &:active,
            &.active {
                &:before { content: ""}
            }
            &:focus,
            &:active,
            &.active {
                font-weight: $font-weight-bold;
            }

        }
    }

    .main {
        width: 100%;
        padding-top: $spacer * 2.125;
    }
    @media (min-width: $screen-md){
         display: flex;
         padding-top: 0;

         .side-menu {
            transform: translate3d(0, 0, 0);
            width: 220px;
            position: sticky;
            max-height: 100vh;
            top: 0;
            padding-top: $spacer * 2;
            left: auto;

            .menu-toggle,
            .menu-close {
                display: none;
            }
         }
        .main {
            padding-top: $spacer * 2;
            margin-left: $grid-gutter-width;
        }
     }
}