$theme-button-colors: (
  "primary":    $primary,
  "secondary":  $secondary
) !default;
$theme-button-shadow-color: $charcoal-black;

$background-image_gradient: linear-gradient(to right, #80cdec 29%, #c00f2d 126%, #c00f2d 126%);
$background-image_shape-wave: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='272' viewBox='0 0 1440 272'%3e%3cpath fill='%23fff' d='M1428.979 207.361c-178.674 81.041-501.519 81.266-718.176 6.004-266.515-92.581-562.398-106.589-710.803-106.974v165.609h1440v-70.02c-3.941 2.036-7.636 3.846-11.021 5.381z'/%3e%3c/svg%3e");

