$theme-button-colors: (
  "primary":    $primary,
  "secondary":  $secondary
) !default;
$theme-button-shadow-color: $charcoal-black;

$background-image_gradient: linear-gradient(to right, #54b3e1 20%, #943749 100%, #943749 126%);
$background-image_shape-wave: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='272' viewBox='0 0 1440 272'%3e%3cpath fill='%23fff' d='M1428.979 207.361c-178.674 81.041-501.519 81.266-718.176 6.004-266.515-92.581-562.398-106.589-710.803-106.974v165.609h1440v-70.02c-3.941 2.036-7.636 3.846-11.021 5.381z'/%3e%3c/svg%3e");
$background-image_shape-wave-xs: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1' xmlns='http://www.w3.org/2000/svg' width='375' height='36' viewBox='0 0 375 36'%3e%3cpath fill='%23fff' d='M5.18 22.209c-1.775-.189-3.5-.409-5.18-.656v14.447h375v-25.712c-111.343 21.507-244.559 25.302-369.82 11.921z'/%3e%3c/svg%3e");

$accordion-header-padding: ($spacer * 1.25) 44px ($spacer * 1.25) ($spacer * 1.25);
$according-header-bg: $body-bg;
$according-header-active-bg: $secondary;
$accordion-border-color: $border-color;

$header-mobile-sticky: false;