.footer {
    position: relative;
    background-position: center;
    @extend .section_bg-gradient;
    color: $white;
    padding-top: 3rem;
    padding-bottom: 1rem;

    a:not(.btn),
    .copyright,
    .small {
        color: inherit;
        text-decoration: none;
    }
    a:not(.btn) {
        &:hover {
            text-decoration: underline;
        }
    }
    .link-item {
        padding-left: ($grid-gutter-width /2);
        padding-right: ($grid-gutter-width /2);
        margin-bottom: 1.2rem;

        strong,
        a {
            display: block;
            white-space: nowrap;
            fill: white;
        }
        &:focus {
            //outline: none;
        }
        &:focus-visible {
            outline: none;
            border: 2px solid white!important;
            box-shadow: 0 0 0 2px black!important;
        }
    }
    .logo img {
        height: 48px;
    }
    .logo {
        margin-bottom: 1.6rem;
        
    }
}

.copyright-bar {
    @extend .small;
    @extend .d-flex;
    margin-top: 1.5rem;
    flex-wrap: wrap;
    margin-left: ($grid-gutter-width /2) * -1;
    margin-right: ($grid-gutter-width /2) * -1;

    div {
        flex: 1 0 auto;
        padding-left: ($grid-gutter-width /2);
        padding-right: ($grid-gutter-width /2);
        max-width: 100%;
    }
    
    @media (min-width: $screen-sm){
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-top: 2rem;
        div {
            flex: 1 1 auto;
        }
    }
    @media (min-width: $screen-md){
        margin-top: 3.2rem;
    }
    .privacy a {
        white-space: nowrap;
    }
}