.logo {
    display: flex;
    flex-direction: row;
    text-decoration: none;

    &-image {
        width: auto;
        height: 55px;
        display: block;
        flex: 0 0 auto;
        overflow: hidden;
    }
}

.header {
    position: relative;
    background-position: center;
    @extend .section_bg-gradient;

    &_home {
        @media(min-width: $screen-sm){
            background-image: none;
            &:before,
            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: -12px;
                right: 0;
                z-index: -1;
                background-position: center;
                background-image: $background-image_gradient;
                height: 320px;
                top: -10px;
            }
            &:after {
                top: -10px;
                background-image: $background-image_shape-wave;
                background-position: center bottom;
                background-size: cover;
            }
        }
    }

    .nav-link,
    .logo-caption {
        color: $white;
    }
    .nav-link {
        text-decoration: none;
    }
    .nav-item {
        font-weight: bold;
    }
    .navbar {
        padding-top: 24px;
        padding-bottom: 24px;
    }
    &-nav {
        @media(min-width: $screen-sm){
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .btn-menu {
                display: none;
            }
            .nav{
                &-item{
                    font-size: $font-size-lg;
                    &.lang {
                        display: flex;
                        color: $white;
                        align-items: center;
                        font-size: $font-size-base;
                        position: relative;
                        top: 0.08rem;

                        .nav-link {
                            padding-left: 0.3rem;
                            padding-right: 0.3rem;
                            &-delimiter {
                                position: relative;
                                top: -0.08rem;
                            }
                        }
                    }
                }
                &-link-icon {
                    &.icon-git {
                        position: relative;
                        &:before {
                            content: "";
                            background-image: url("../img/icons/icon-github_white.svg");
                            background-position: center;
                            background-repeat: no-repeat;
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0.01rem;
                        }
                        img {
                            visibility: hidden;
                        }
                    }
                }
            }
        }
    }
}