@import 'variables';
@import 'mixins';

@import '~@glidejs/glide/src/assets/sass/glide.core';
@import '~@glidejs/glide/src/assets/sass/glide.theme';

/* Slider */
.box_slider {
    padding-left: 0;
    padding-right: 0;
    @media (min-width: $screen-lg){
        margin-left: $spacer * 2;
        margin-right: $spacer * 2;
    }
}

.box_slider-caption {
    padding-top: 30px;
}

.glide__track {
    padding-bottom: $spacer;
}

/* Icons */
// @if $slick-font-family == "slick" {
//     @font-face {
//         font-family: "slick";
//         src: slick-font-url("slick.eot");
//         src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
//         font-weight: normal;
//         font-style: normal;
//     }
// }

/* Arrows */

.controls_prev,
.controls_next {
    position: absolute;
    display: block;
    height: $slider-arrow-size;
    width: $slider-arrow-size;
    border-radius: $border-radius;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: #fff center no-repeat;
    background-size: auto;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    z-index: 1;
    box-shadow: 0 7px 23px -7px rgba(60,69,83,.54);

    &:hover, &:focus {
        outline: none;
        background-color: #fff;
        color: transparent;
        // &:before {
        //     opacity: $slick-opacity-on-hover;
        // }
    }
    &.slick-disabled {
        opacity: $slick-opacity-not-active;
    }
    // &:before {
    //     line-height: 1;
    //     color: $slick-arrow-color;
    //     opacity: $slick-opacity-default;
    //     -webkit-font-smoothing: antialiased;
    //     -moz-osx-font-smoothing: grayscale;
    // }
}

.controls_prev {
    left: $slider-arrow-size * -0.25;
    background-image: $carousel-control-prev-icon-bg;

    @media (min-width: $screen-lg) {
        left:  $slider-arrow-size * -0.75 * 1.5;
    }
    @media (min-width: #{$screen-lg + 2 * $slider-arrow-size}) {
        left:  $slider-arrow-size * -1.25 * 1.5;
    }
    @media (min-width: $screen-xl) {
        left:  $slider-arrow-size * -1.75 * 1.5;
    }
}

.controls_next {
    right: $slider-arrow-size * -0.25;
    background-image: $carousel-control-next-icon-bg;
    @media (min-width: $screen-lg) {
        right:  $slider-arrow-size * -0.75 * 1.5;
    }
    @media (min-width: #{$screen-lg + 2 * $slider-arrow-size}) {
        right:  $slider-arrow-size * -1.25 * 1.5;
    }
    @media (min-width: $screen-xl) {
        right:  $slider-arrow-size * -1.75 * 1.5;
    }
}

.glide__slide {
    height: auto;
}


/* Dots */
.glide__bullets {
    position: absolute;
    bottom: $slider-dots-bottom;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: auto;
    max-width: 100%;
    left: 50%;
    transform: translate3d(-50%,0,0);
    z-index: 1;
}

.glide__bullet {
    border: none;
    background-color: #fff;
}

.glide__bullet--active,
.glide__bullet:focus {
    border: none;
    background-color: $slick-dot-color-active;
}

.slick-initialized .slick-slide {
    height: auto;
    min-height: auto;
    display: flex;
    align-items: stretch;
    padding: 0 $spacer;
    > div {
        display: block;
    }
    .box {
        min-height: 100%;
        padding-top: $spacer * 3;
        padding-bottom: $spacer * 2;

        .headline-caption {
            font-size: $font-size-base;
            margin-bottom: $spacer * 0.75;
        }
        h4.headline {
            line-height: 1.36;
        }
    }
}
