@charset "UTF-8";

@font-face {
  font-family: "icon-font";
  src:url('icon-font.woff2') format('woff2'),
      url('icon-font.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "icon-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icon-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github-icon:before {
  content: "\61";
}
.icon-twitter-icon:before {
  content: "\62";
}
.icon-slack-icon:before {
  content: "\63";
}
