{{#if button}}
<a class="btn btn-link btn-link_narrow btn-link_icon" title="{{#if titleprefix}}{{titleprefix}} {{/if}}{{button.title}}"
    href="{{button.url}}"{{#if button.external}} target="_blank"{{/if}}>{{#if titleprefix}}{{titleprefix}} {{/if}}{{button.title}}<span
        class="icon {{#if direction}}{{#unless button.direction}}icon_arrow-{{direction}}{{/unless}}{{/if}}{{#if button.direction}}icon_arrow-{{button.direction}}{{/if}}{{#unless direction}}{{#unless button.direction}}icon_arrow-right{{/unless}}{{/unless}}"></span></a>
{{/if}}