<section class="error">
  <div class="container">
    <div class="container-inner container-inner_lg">
      <div class="row justify-content-center justify-content-sm-between align-items-center">
        <div class="col col-12 col-sm-8 col-md-6 contents-normal">
          <h2 class="headline">{{global.error.title}}</h2>
          <h4 class="headline">{{global.error.titlecaption}}</h4>
        </div>
        <div class="col col-12 col-sm-4 col-md-6">
          {{>image-component global.error.image }}
        </div>
      </div>
      <div class="row">
      </div>
    </div>
  </div>
</section>
