<section class="error">
  <div class="container">
    <div class="container-inner container-inner_lg">
      <div class="row justify-content-center justify-content-sm-between align-items-center">
        <div class="col col-12 col-sm-8 col-md-6 contents-normal">
          <h2 class="headline">{{global.error.title}}</h2>
          <h4 class="headline">{{global.error.titlecaption}}</h4>
        </div>
        <div class="col col-12 col-sm-4 col-md-6">
          {{>image-component image=global.error.image }}
        </div>
      </div>
      {{#if global.error.boxes}}
      <div class="row justify-content-center">
        {{#each global.error.boxes}}
        <div class="col-12 col-sm-6 col-md-4 box-column">
          <div class="box box_flex justify-content-center">
            {{#if image}}
            {{> image-component this=.}}
            {{/if}}
            <div class="col-8 col-sm-9 col-md-10">
              {{#if title}}
              <h3 class="headline">{{title}}</h3>
              {{/if}}
              {{#if button}}
              <a class="btn btn-link btn-link_narrow btn-link_icon" title="{{button.title}}"
                href="{{button.url}}"{{#if button.external}} target="_blank" rel="noopener noreferrer"{{/if}}>{{button.title}}<span class="icon icon_arrow-right"></span></a>
              {{/if}}
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      {{/if}}
    </div>
  </div>
</section>
