<section class="s-error no-padding">
  <div class="container text-center">
    <div class="top">
      <div class="left">
        CWA <br />
        Yet another Error occured&#8424;
      </div>
    </div>
    <div class="middle">
      <div class="wr">
        {{#ifpage '403'}}
          Forbidden<br />
          403 
        {{/ifpage}}
        {{#ifpage '404'}}
          Game Over<br />
          404
        {{/ifpage}}
      </div>
    </div>
    <div class="bottom">
      <ul class="link-list link-list_social">
        <li class="link-list-item">
          <a href="https://twitter.com/luigiprojectio" target="blank">Continue to Twitter</a>
        </li>
        <li class="link-list-item">
          <a href="https://slack.luigi-project.io" target="blank">Continue to Slack</a>
        </li>
        <li class="link-list-item">
          <a href="https://github.com/SAP/luigi" target="blank">Continue to GitHub</a>
        </li>
      </ul>
    </div>
  </div>
</section>
