<footer class="footer {{#ifpage 'index'}}footer_home{{/ifpage}}">
  <div class="container align-items-between">
    <div class="row justify-content-between">
      <div class="col-8 col-sm-5 col-md-4">
        <a class="logo" href="/{{#if lang_de}}de{{else}}en{{/if}}/">
          <img src="{{root}}assets/img/logo.svg" alt="The Corona Warn App – Open Source Projekt" />
        </a>
      </div>
      <div class="col-16 col-sm-7 col-md-8">
        <div class="row">
          {{#each language.footer-nav}}
          <div class="link-item col-6 col-md-4"{{#if testid}} data-e2e="{{testid}}"{{/if}}>
            <strong>{{title}}</strong>
            {{#if button}}
            <a {{#if button.url}}href="{{button.url}}"{{#if external}} target="_blank" rel="noopener noreferrer"{{/if}}{{/if}}{{#unless button.url}} class="disabled"{{/unless}}>
              {{#unless button.icon}}{{button.title}}{{/unless}}
              {{#if button.icon}}<span class="icon icon_img icon_{{button.icon}}"><img
                  src="{{root}}{{#unless button.icon-url}}assets/img/icons/{{button.icon}}.svg{{/unless}}{{#if button.icon-url}}{{button.icon-url}}{{/if}}"
                  alt="{{title}}"
                  class="icon-image" /></span>{{/if}}
            </a>
            {{/if}}
            {{#if links}}
            {{#each links}}
            <a {{#if url}}href="{{url}}" {{#if external}} target="_blank" rel="noopener noreferrer"{{/if}}{{/if}}{{#unless url}}class="disabled" {{/unless}}>
              {{#unless icon}}{{title}}{{/unless}}
              {{#if icon}}<span class="icon icon_img icon_{{icon}}"><img
                  src="{{root}}{{#unless icon-url}}assets/img/icons/{{icon}}.svg{{/unless}}{{#if icon-url}}{{icon-url}}{{/if}}"
                  alt="{{title}}"
                  class="icon-image" /></span>{{/if}}
            </a>
            {{/each}}
            {{/if}}
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="copyright-bar">
      <div class="copyright text-center text-sm-left">
        {{#if language.copyright}}
        <a href="{{language.copyright.url}}"{{#if language.copyright.external}} target="_blank" rel="noopener noreferrer"{{/if}}>{{language.copyright.title}}</a>
        {{/if}}
      <div class="privacy text-center text-sm-right">
        {{#if language.privacy}}
        <a href="{{language.privacy.url}}"{{#if language.privacy.external}} target="_blank" rel="noopener noreferrer"{{/if}}>{{language.privacy.title}}</a>
        {{/if}}
      </div>
    </div>
  </div>
</footer>
