<footer class="footer {{#ifpage 'index'}}footer_home{{/ifpage}}">
  <div class="container align-items-between">
    <div class="row justify-content-between">
      <div class="col-12 col-sm-6 col-md-6">
        <a class="logo" href="/">
          <img src="{{root}}assets/img/logo.svg" alt="App Logo" />
        </a>
      </div>
      <div class="col-12 col-sm-6">
        <div class="link-list">
          <div class="link-item">
            <strong>Stacy up to date</strong>
            <a href="#">Blog</a>
          </div>
          <div class="link-item">
            <strong>Learn more</strong>
            <a href="#">FAQ</a>
          </div>
          <div class="link-item">
            <strong>Get involved</strong>
            <a href="#"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-bar">
      <div class="copyright text-center text-sm-left">&copy; Copyright 2020. The Corona Warn App Open Source Project Authors.</div>
      <div class="privacy text-center text-sm-right"><a href="#" target="_blank" rel="noopener noreferrer">Privacy statement</a></div>
    </div>
  </div>
</footer>