<footer class="footer {{#ifpage 'index'}}footer_home{{/ifpage}}">
  <div class="container align-items-between">
    <div class="row justify-content-between">
      <div class="col-8 col-sm-5 col-md-4">
        <a class="logo" href="/{{#if lang_de}}de{{else}}en{{/if}}/">
          <img src="{{root}}assets/img/logo.svg" alt="The Corona Warn App – Open Source Projekt" />
        </a>
      </div>
      <div class="col-16 col-sm-7 col-md-8">
        <div class="row">
          {{#each language.footer-nav}}
          <ul class="link-item col-6 col-md-4"{{#if testid}} data-e2e="{{testid}}"{{/if}}>
            <strong class="headline">{{title}}</strong>
            {{#if button}}
            <li class="list-item">
              <a {{#if button.url}}href="{{button.url}}"{{#if external}} target="_blank" rel="noopener noreferrer"{{/if}}{{/if}}{{#unless button.url}} class="disabled"{{/unless}}>
                {{#unless button.icon}}{{button.title}}{{/unless}}
                {{#if button.icon}}<span class="icon icon_img icon_{{button.icon}}"><img
                    src="{{root}}{{#unless button.icon-url}}assets/img/icons/{{button.icon}}.svg{{/unless}}{{#if button.icon-url}}{{button.icon-url}}{{/if}}"
                    alt="{{title}}"
                    class="icon-image" /></span>{{/if}}
              </a>
            </li>
            {{/if}}
            {{#if links}}
            {{#each links}}
            {{#if startFlex}}
            <div class="d-flex flex-row pt-1">
            {{/if}}
            <a {{#if url}}href="{{url}}" {{#if external}} target="_blank" rel="noopener noreferrer"{{/if}}{{/if}}{{#unless url}}class="disabled" {{/unless}} class="{{#if marginRight}}mr-2{{/if}}" aria-label="{{aria-label}}">
              {{#unless icon}}{{title}}{{/unless}}
              {{#if icon}}
                <svg xmlns="http://www.w3.org/2000/svg" width="{{width}}" height="{{height}}" fill="{{filled}}" class="bi bi-{{icon}} icon-image" viewBox="0 0 16 16">
                  <path d="{{svg}}"/>
                </svg>
              {{/if}}
            </a>
            {{#if endFlex}}
            </div>
            {{/if}}
            {{/each}}
            {{/if}}
          </ul>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="copyright-bar">
      <div class="copyright text-center text-sm-left">
        {{#if language.copyright}}
        <a href="{{language.copyright.url}}"{{#if language.copyright.external}} target="_blank" rel="noopener noreferrer"{{/if}}>{{language.copyright.title}}</a>
        {{/if}}
      <div class="privacy text-center text-sm-right">
        {{#if language.privacy}}
        <a href="{{language.privacy.url}}"{{#if language.privacy.external}} target="_blank" rel="noopener noreferrer"{{/if}}>{{language.privacy.title}}</a>
        {{/if}}
      </div>
    </div>
  </div>
</footer>
