<div class="row navbar">
  <div class="col-sm-6 col-md-3 hidden-xs">
    <a class="logo" href="/index.html" title="Corona Warn-App">
      <img src="{{root}}assets/img/logo.svg" alt="Corona Warn-App" class="logo-image" />
      <span class="logo-caption">
        <span class="logo-title">Corona</span>
        <span class="logo-subtitle">Warn-App<br>Open Source Project</span>
      </span>
    </a>
  </div>
  <div class="col col-xs-6 col-md-9">
    <nav class="">
      <button class="btn-menu"></button>
      <ul class="nav">
        <li class="nav-item">
          <a href="/community" class="nav-link{{#ifpage 'community'}} active{{/ifpage}}">About</a>
        </li>
        <li class="nav-item"><a href="/blog" class="nav-link disabled">Blog</a></li>
        <li class="nav-item">
          <a href="/faq"  class="nav-link{{#ifpage 'faq'}} active{{/ifpage}}">FAQ</a>
        </li>
      </ul>
      <ul class="nav nav-right">
        <li class="nav-item">
          <a href="#github" class="nav-link nav-link_external"><img src="" class="nav-link-icon" /></a>
        </li>
        <li class="nav-item lang">
          <a href="" class="nav-link active" title="English">EN</a>|<a class="nav-link" href="" title="Deutsch">DE</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
