<div class="col-sm-12 text-center banner pt-2 pb-2">
  {{#if lang_de}}
    {{{global.banner.de}}}
  {{else}}
    {{{global.banner.en}}}
  {{/if}}
</div>
<header class="header{{#unless page-name}}{{#ifpage 'index'}} header_home{{/ifpage}}{{/unless}}{{#ifequal page-name 'index'}} header_home{{/ifequal}}{{#if header-cls}} header-cls{{/if}}">
  <div class="container">
  {{#unless lang_de}}
  {{> global-nav language=global.lang.en}}
  {{/unless}}
  {{#if lang_de}}
  {{> global-nav language=global.lang.de}}
  {{/if}}
  </div>
  {{#ifpage 'index'}}
  {{#if sticky-panel-active}}
  <section class="sticky-panel sticky-panel_bottom js-hide-on-scroll">
    <div class="container">
      <div class="row">
        <div class="col col-12">
          <h1 class="headline">Header headline</h1>
          <a class="btn btn-primary" href="#">GET STARTED</a>
          <a class="btn btn-secondary" href="#" target="_blank" rel="noopener noreferrer">Test playground</a>
        </div>
        <div class="col col-12">
          <a href="#" target="_blank" rel="noopener noreferrer" class="play-button hidden-sm"></a>
        </div>
      </div>
    </div>
  </section>
  {{/if}}
  {{/ifpage}}

  {{#unless homepage}}
    <ul class="col-sm-12 text-center subheader pt-2 pb-2 list-inline">
      <li>
      <a href="{{#if lang_de}}{{global.whohelps.de.link}}{{else}}{{global.whohelps.en.link}}{{/if}}" {{#if homepage}}class="whohelps"{{/if}}>
        {{#if lang_de}}
          {{global.whohelps.de.text}}
        {{else}}
          {{global.whohelps.en.text}}
        {{/if}}
      </a>
      </li>
      <li class="list-inline-item">
      <a href="{{#if lang_de}}{{global.wherecanigettested.de.link}}{{else}}{{global.wherecanigettested.en.link}}{{/if}}" {{#if homepage}}class="whohelps"{{/if}}>
        {{#if lang_de}}
          {{global.wherecanigettested.de.text}}
        {{else}}
          {{global.wherecanigettested.en.text}}
        {{/if}}
      </a>
      </li>
      <li class="list-inline-item">
      <a href="{{#if lang_de}}{{global.testissues.de.link}}{{else}}{{global.testissues.en.link}}{{/if}}" {{#if homepage}}class="whohelps"{{/if}}>
        {{#if lang_de}}
          {{global.testissues.de.text}}
        {{else}}
          {{global.testissues.en.text}}
        {{/if}}
      </a>
      </li>
    </ul>
  {{/unless}}
</header>
