{{#if icon-list}}
<div class="{{#if class}}{{class}}{{/if}} icon-list">
    {{#each icon-list}}
    {{#if url}}
    <ul>
    <a class="icon-list-item" href="{{url}}" target="_blank" rel="noopener noreferrer">
        <img src="{{icon-url}}" alt="{{title}} Icon"{{#if icon-set}} srcset="{{icon-set}}"{{/if}}/>
    </a>
    </ul>
    {{else}}
    <ul>
    <img class="icon-list-item" src="{{icon-url}}" alt="{{title}}"{{#if icon-set}} srcset="{{icon-set}}"{{/if}}/>
    </ul>
    {{/if}}
    {{/each}}
</div>
{{/if}}
