{{#unless item.deactivated}}
<li class="nav-item">
    <a href="{{item.url}}" class="nav-link{{#unless item.external}}{{#ifequal @root.page-name item.id}} active{{/ifequal}}{{/unless}}{{#if item.external}} nav-link_external{{/if}}{{#if item.disabled}} disabled{{/if}}"{{#if item.external}} target="_blank"{{/if}}>
    {{#unless item.icon}}
    {{item.title}}
    {{/unless}}
    {{#if item.icon}}
    <span class="nav-link-icon icon_{{item.icon}}">
        {{#unless item.icon-url}}<img src="{{root}}/assets/img/icons/{{item.icon}}.svg" class="icon-image" />{{/unless}}
    </span>
    {{/if}}
    </a>
</li>
{{/unless}}