{{#unless item.deactivated}}
<li class="nav-item">
    <a href="{{item.url}}" class="nav-link
        {{#unless item.external}}
        {{#ifequal @root.page-name item.id}} active{{/ifequal}}
        {{#ifequal item.id 'science'}}{{#ifsciencedetail}} active{{/ifsciencedetail}}{{/ifequal}}
        {{#ifequal item.id 'blog'}}{{#ifblogdetail}} active{{/ifblogdetail}}{{/ifequal}}
        {{/unless}}
        {{#if
        item.external}} nav-link_external{{/if}}{{#if item.disabled}}
        disabled{{/if}}" {{#if item.external}} target="_blank"
        aria-label="{{title}}" rel="noopener noreferrer" {{/if}}>
        {{#unless item.icon}}
        {{item.title}}
        {{/unless}}
        {{#if item.icon}}
        <svg xmlns="http://www.w3.org/2000/svg" width="{{item.width}}" height="{{item.height}}"  class="bi bi-{{item.icon}}" viewBox="0 0 16 16">
            <path d="{{item.svg}}"/>
        </svg>
        {{/if}}
    </a>
</li>
{{/unless}}