{{#if page-contents}}
<section class="section">
    <div class="container">
        <div class="container-inner container-inner_lg">
            <div class="row">
                {{> headline-component page-contents.section-main.headline}}
            </div>
            <div class="row">
                <div class="col">
                {{> headline-small-component page-contents.section-main.website-headline}}
                {{> text-component page-contents.section-main.website-content}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <br/>
                {{> headline-small-component page-contents.section-main.app-headline}}
                {{> text-component page-contents.section-main.app-content}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <br/>
                {{> headline-small-component page-contents.section-main.previous-headline}}
                {{> text-component page-contents.section-main.previous-content}}
                </div>
            </div>
        </div>
    </div>
</section>
{{/if}}
