{{#if page-contents}}
<section class="section component qrgenerator">
  <div class="container">
    <div class="container-inner container-inner_lg">
      <h2 class="headline">{{page-contents.section-main.headline.title}}</h2>

      <p>{{page-contents.section-main.intro}}</p>

      <div class="row">
        <div class="col col-12 col-lg-6">
          
          <form id="qrform">
            <div class="form-group row mb-2">
              <label for="locationtype" class="col-12 col-form-label">{{page-contents.section-main.form.fields.locationtype}}</label>
              <div class="col-12">
                <select id="locationtype" class="form-control" required>
                {{#each page-contents.section-main.form.locationtypes}}
                  <option value="{{id}}">{{name}}</option>
                {{/each}}
                </select>
                <div id="qr-error-locationtyperequired" class="invalid-feedback">
                  {{page-contents.section-main.form.errors.locationtyperequired}}
                </div>
              </div>
            </div>
    
            <div class="form-group row mb-2">
              <label for="description" class="col-12 col-form-label">{{page-contents.section-main.form.fields.description}}</label>
              <div class="col-12">
                <input id="description" class="form-control" type="text" max="100" placeholder="{{page-contents.section-main.form.placeholders.description}}" required>
                <div id="qr-error-descriptionrequired" class="invalid-feedback">
                  {{page-contents.section-main.form.errors.descriptionrequired}}
                </div>
                <div id="qr-error-descriptionmax" class="invalid-feedback">
                  {{page-contents.section-main.form.errors.descriptionmax}}
                </div>
              </div>
            </div>
    
            <div class="form-group row mb-2">
              <label for="address" class="col-12 col-form-label">{{page-contents.section-main.form.fields.address}}</label>
              <div class="col-12">
                <input id="address" class="form-control" type="text" max="100" placeholder="{{page-contents.section-main.form.placeholders.address}}" required>
                <div id="qr-error-addressrequired" class="invalid-feedback">
                  {{page-contents.section-main.form.errors.addressrequired}}
                </div>
                <div id="qr-error-addressmax" class="invalid-feedback">
                  {{page-contents.section-main.form.errors.addressmax}}
                </div>
              </div>
            </div>
    
            <div class="form-group row mb-2">
              <label for="defaultcheckinlength" class="col-12 col-form-label">{{page-contents.section-main.form.fields.defaultcheckinlength}}</label>
              <div class="col-12">
                <input id="defaultcheckinlength" class="form-control" type="number" step="15" min="0" max="3600" placeholder="{{page-contents.section-main.form.placeholders.defaultcheckinlength}}" required>
                <div id="qr-error-defaultcheckinlengthrequired" class="invalid-feedback">
                  {{page-contents.section-main.form.errors.defaultcheckinlengthrequired}}
                </div>
                <div id="qr-error-defaultcheckinlengthnumber" class="invalid-feedback">
                  {{page-contents.section-main.form.errors.defaultcheckinlengthnumber}}
                </div>
              </div>
            </div>
    
            <div id="event-duration" class="d-none">
              <div class="form-group row mb-2">
                <label for="starttime-date" class="col-12 col-form-label">{{page-contents.section-main.form.fields.starttime}}</label>
                <div class="col-12">
                  <div class="row">
                    <div class="col-sm-8">
                      <input id="starttime-date" class="form-control" type="text" placeholder="{{page-contents.section-main.form.dateplaceholder}}" max="10">
                    </div>
                    <div class="col-sm-4">
                      <input id="starttime-time" class="form-control" type="text" placeholder="{{page-contents.section-main.form.timeplaceholder}}" max="5">
                    </div>
                  </div>
                  <div id="qr-error-starttimerequired" class="invalid-feedback">
                    {{page-contents.section-main.form.errors.starttimerequired}}
                  </div>
                  <div id="qr-error-starttimeinvaliddate" class="invalid-feedback">
                    {{page-contents.section-main.form.errors.invaliddate}}
                  </div>
                  <div id="qr-error-starttimeinvalidtime" class="invalid-feedback">
                    {{page-contents.section-main.form.errors.invalidtime}}
                  </div>
                </div>
              </div>
    
              <div class="form-group row mb-2">
                <label for="endtime-date" class="col-12 col-form-label">{{page-contents.section-main.form.fields.endtime}}</label>
                <div class="col-12">
                  <div class="row">
                    <div class="col-sm-8">
                      <input id="endtime-date" class="form-control" type="text" placeholder="{{page-contents.section-main.form.dateplaceholder}}" max="10">
                    </div>
                    <div class="col-sm-4">
                      <input id="endtime-time" class="form-control" type="text" placeholder="{{page-contents.section-main.form.timeplaceholder}}" max="5">
                    </div>
                  </div>
                  <div id="qr-error-endtimerequired" class="invalid-feedback">
                    {{page-contents.section-main.form.errors.endtimerequired}}
                  </div>
                  <div id="qr-error-endtimeinvaliddate" class="invalid-feedback">
                    {{page-contents.section-main.form.errors.invaliddate}}
                  </div>
                  <div id="qr-error-endtimeinvalidtime" class="invalid-feedback">
                    {{page-contents.section-main.form.errors.invalidtime}}
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-12">{{page-contents.section-main.disclaimer}}</div>
            </div>
    
            <div class="row mt-4">
              <div class="col-12">
                <button id="generateQR" value="show" class="btn btn-primary">{{page-contents.section-main.form.fields.show}}</button>
                <button id="downloadCode" value="download" class="btn btn-secondary">{{page-contents.section-main.form.fields.download}}</button>
              </div>
            </div>
          </form>

        </div>
        <div class="col col-12 col-lg-6 mt-4 mt-lg-0">
          <img src="/assets/img/pt-poster-1.0.0.png" id="eventplaceholder" class="img img-fluid w-100 eventqr-preview" />
          <canvas id="eventqrcode" class="d-none eventqr-preview"></canvas>
        </div>
      </div>

    </div>
  </div>
</section>
{{/if}}
