{{#if page-contents}}
<section class="section">
    <div class="container">
        <div class="container-inner container-inner_lg">
            <div class="row">
                <div class="col ">
                {{> headline-component page-contents.section-main.headline}}
                {{> text-component page-contents.section-main.content}}
                </div>
            </div>


            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" href="#android_screenshots">Android Screenshots</a>
                    <a class="nav-item nav-link" href="#ios_screenshots">iOS Screenshots</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="android_screenshots">
                    <div class="row">
                        <h3 class="headline my-4">Einführung</h3>
                        <div class="col-6 col-sm-4 col-md-3 mb-4">
                            <a href="{{root}}assets/img/screenshots/HomeFragment_increased_risk.webp" class="img-lightbox-link" aria-hidden="true" rel="lightbox">
                                <img src="{{root}}assets/img/screenshots/HomeFragment_increased_risk.webp" class="img-fluid img-shadow" />
                             </a>
                        </div>
                        <div class="col-6 col-sm-4 col-md-3 mb-4">
                            <a href="{{root}}assets/img/screenshots/HomeFragment_increased_risk.webp" class="img-lightbox-link" aria-hidden="true" rel="lightbox">
                                <img src="{{root}}assets/img/screenshots/HomeFragment_increased_risk.webp" class="img-fluid img-shadow" />
                             </a>
                        </div>
                        <div class="col-6 col-sm-4 col-md-3 mb-4">
                            <a href="{{root}}assets/img/screenshots/HomeFragment_increased_risk.webp" class="img-lightbox-link" aria-hidden="true" rel="lightbox">
                                <img src="{{root}}assets/img/screenshots/HomeFragment_increased_risk.webp" class="img-fluid img-shadow" />
                             </a>
                        </div>
                        <div class="col-6 col-sm-4 col-md-3 mb-4">
                            <a href="{{root}}assets/img/screenshots/HomeFragment_increased_risk.webp" class="img-lightbox-link" aria-hidden="true" rel="lightbox">
                                <img src="{{root}}assets/img/screenshots/HomeFragment_increased_risk.webp" class="img-fluid img-shadow" />
                             </a>
                        </div>
                        <div class="col-6 col-sm-4 col-md-3 mb-4">
                            <a href="{{root}}assets/img/screenshots/HomeFragment_increased_risk.webp" class="img-lightbox-link" aria-hidden="true" rel="lightbox">
                                <img src="{{root}}assets/img/screenshots/HomeFragment_increased_risk.webp" class="img-fluid img-shadow" />
                             </a>
                        </div>
                        <div class="col-6 col-sm-4 col-md-3 mb-4">
                            <a href="{{root}}assets/img/screenshots/HomeFragment_increased_risk.webp" class="img-lightbox-link" aria-hidden="true" rel="lightbox">
                                <img src="{{root}}assets/img/screenshots/HomeFragment_increased_risk.webp" class="img-fluid img-shadow" />
                             </a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="ios_screenshots">

                    TODO

                </div>
            </div>




            
        </div>
    </div>
</section>
{{/if}}
