{{#if page-contents}}
<section class="comment">
<div class="container mb-5">
    <div class="container-inner">
      <h1 class="headline h2 mb-0" id="glossary">{{page-contents.title}}</h1>
      <nav class="glossary-nav">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link mobile-type active" id="website-tab" data-toggle="tab" href="#website" role="tab" aria-controls="website" aria-selected="true">Website</a>
          <a class="nav-item nav-link mobile-type" id="android-tab" data-toggle="tab" href="#android" role="tab" aria-controls="android" tabindex="-1">Android</a>
          <a class="nav-item nav-link mobile-type" id="ios-tab" data-toggle="tab" href="#ios" role="tab" aria-controls="ios" tabindex="-1">iOS</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tab-content">
        <div class="tab-pane fade show active mt-4" id="website" role="tabpanel" aria-labelledby="website-tab" tabindex="0">
          <div>
            {{#each page-contents.section-website-main.textblock}}
            <p>{{{.}}}</p>
            {{/each}}
          </div>
          <h2 class="headline headline-heavy" id="{{page-contents.section-compatibility-level.anchor}}">{{page-contents.section-website-compatibility-level.title}}</h2>
          <div>
              {{#each page-contents.section-website-compatibility-level.textblock}}
              <p>{{{.}}}</p>
              {{/each}}
          </div>
        </div>
          <div class="tab-pane fade show mt-4" id="android" role="tabpanel" aria-labelledby="android-tab" tabindex="0">
            <div>
              {{#each page-contents.section-android-main.textblock}}
              <p>{{{.}}}</p>
              {{/each}}
            </div>
            <h2 class="headline headline-heavy" id="{{page-contents.section-compatibility-level.anchor}}">{{page-contents.section-android-compatibility-level.title}}</h2>
            <div>
                {{#each page-contents.section-android-compatibility-level.textblock}}
                <p>{{{.}}}</p>
                {{/each}}
            </div>
          </div>
          <div class="tab-pane fade show mt-4" id="ios" role="tabpanel" aria-labelledby="ios-tab" tabindex="0">
            <div>
              {{#each page-contents.section-ios-main.textblock}}
              <p>{{{.}}}</p>
              {{/each}}
            </div>
            <h2 class="headline headline-heavy" id="{{page-contents.section-compatibility-level.anchor}}">{{page-contents.section-ios-compatibility-level.title}}</h2>
            <div>
                {{#each page-contents.section-ios-compatibility-level.textblock}}
                <p>{{{.}}}</p>
                {{/each}}
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
<section class="section-intersect section_bg-light comment">
    {{#if page-contents.section-report-barriers}}
    <div class="container">
      <div class="container-inner">
        {{#if page-contents.section-report-barriers.headline}}
        <div>{{> headline-component page-contents.section-report-barriers.headline}}</div>
        {{/if}}
    </div>
    {{/if}}
</section>
<section class="comment">
    <div class="container">
        <div class="container-inner">
          <h2 class="headline headline-heavy" id="{{page-contents.section-arbitrary-service.anchor}}">{{page-contents.section-arbitrary-service.title}}</h2>
          <div>
              {{#each page-contents.section-arbitrary-service.textblock}}
              <p>{{{.}}}</p>
              {{/each}}
          </div>
        </div>
      </div>
</section>
{{/if}}