{{#if page-contents}}
<section class="section">
    <div class="container">
        <div class="container-inner container-inner_lg">
            <div class="row">
                <h1 class="h2 headline">{{page-contents.section-main.headline.title}}</h1>
            </div>
            <div class="row">
                <div class="col">
                    <h2 class="h3"><b>{{page-contents.section-main.website-headline.title}}</b></h2>
                    <div>
                        {{#each page-contents.section-main.website-content.textblock}}
                        <p>{{{.}}}</p>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <br/>
                {{> headline-small-component page-contents.section-main.app-headline}}
                {{> text-component page-contents.section-main.app-content}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <br/>
                {{> headline-small-component page-contents.section-main.previous-headline}}
                {{> text-component page-contents.section-main.previous-content}}
                </div>
            </div>
        </div>
    </div>
</section>
{{/if}}
