{{#if page-contents}}
<section class="section component qrgenerator">
  <div class="container">
    <div class="container-inner container-inner_lg">
      <h1 class="headline">{{{page-contents.section-main.headline.title}}}</h1>
      <p>{{{page-contents.section-main.intro}}}</p>

      <h3>{{{page-contents.section-main.step1.title}}}</h3>
      <p>{{{page-contents.section-main.step1.text}}}</p>
      <div class="text-center">
        <img src={{{page-contents.section-main.step1.image.url}}} class="img-fluid" alt={{{page-contents.section-main.step1.image.alt}}}>
      </div><p></p>
      <p>{{{page-contents.section-main.step1.text2}}}</p>
      <div class="text-center">
        <img src={{{page-contents.section-main.step1.image2.url}}} class="img-fluid" alt={{{page-contents.section-main.step1.image2.alt}}}>
      </div><p></p>
      <p>{{{page-contents.section-main.step1.text3}}}</p>
      <div class="text-center">
        <img src={{{page-contents.section-main.step1.image3.url}}} class="img-fluid" alt={{{page-contents.section-main.step1.image3.alt}}}>
      </div><p></p>
      <p></p>
      <h3>{{{page-contents.section-main.step2.title}}}</h3>
      <p>{{{page-contents.section-main.step2.text}}}</p>
      <div class="text-center">
        <img src={{{page-contents.section-main.step2.image.url}}} class="img-fluid" alt={{{page-contents.section-main.step2.image.alt}}}>
      </div><p></p>
      <p>{{{page-contents.section-main.step2.text2}}}</p>
      <div class="text-center">
        <img src={{{page-contents.section-main.step2.image2.url}}} class="img-fluid" alt={{{page-contents.section-main.step2.image2.alt}}}>
      </div><p></p>
      <p>{{{page-contents.section-main.step2.text3}}}</p>
      <div class="text-center">
        <img src={{{page-contents.section-main.step2.image3.url}}} class="img-fluid" alt={{{page-contents.section-main.step2.image3.alt}}}>
      </div><p></p>
      <p>{{{page-contents.section-main.step2.text4}}}</p>
      <div class="text-center">
        <img src={{{page-contents.section-main.step2.image4.url}}} class="img-fluid" alt={{{page-contents.section-main.step2.image4.alt}}}>
      </div><p></p>
      <p>{{{page-contents.section-main.step2.text5}}}</p>
      <div class="text-center">
        <img src={{{page-contents.section-main.step2.image5.url}}} class="img-fluid" alt={{{page-contents.section-main.step2.image5.alt}}}>
      </div><p></p>
      <p>{{{page-contents.section-main.step2.text6}}}</p>
      <p></p>
      <h3>{{{page-contents.section-main.step3.title}}}</h3>
      <p>{{{page-contents.section-main.step3.text}}}</p>
      <div class="text-center">
        <img src={{{page-contents.section-main.step3.image.url}}} class="img-fluid" alt={{{page-contents.section-main.step3.image.alt}}}>
      </div><p></p>
      <p>{{{page-contents.section-main.step3.text2}}}</p>
      <p></p>
      <h3>{{{page-contents.section-main.step4.title}}}</h3>
      <p>{{{page-contents.section-main.step4.text}}}</p>
      <div class="text-center">
        <img src={{{page-contents.section-main.step4.image.url}}} class="img-fluid" alt={{{page-contents.section-main.step4.image.alt}}}>
      </div><p></p>
      <p>{{{page-contents.section-main.step4.text2}}}</p>
      <div class="text-center">
        <img src={{{page-contents.section-main.step4.image2.url}}} class="img-fluid" alt={{{page-contents.section-main.step4.image2.alt}}}>
      </div><p></p>
      <p>{{{page-contents.section-main.step4.text3}}}</p>
      <div class="text-center">
        <img src={{{page-contents.section-main.step4.image3.url}}} class="img-fluid" alt={{{page-contents.section-main.step4.image3.alt}}}>
      </div><p></p>
      <p></p>
      <h3>{{{page-contents.section-main.step5.title}}}</h3>
      <p>{{{page-contents.section-main.step5.text}}}</p>
      <div class="text-center">
        <img src={{{page-contents.section-main.step5.image.url}}} class="img-fluid" alt={{{page-contents.section-main.step5.image.alt}}}>
      </div><p></p>
      <p>{{{page-contents.section-main.step5.text2}}}</p>

      <h3>{{{page-contents.section-main.table1.title}}}</h3>
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">{{{page-contents.section-main.table1.column1.head}}}</th>
            <th scope="col">{{{page-contents.section-main.table1.column2.head}}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{{page-contents.section-main.table1.column1.row1}}}</td>
            <td>{{{page-contents.section-main.table1.column2.row1}}}</td>
          </tr>
          <tr>
            <td>{{{page-contents.section-main.table1.column1.row2}}}</td>
            <td>{{{page-contents.section-main.table1.column2.row2}}}</td>
          </tr>
          <tr>
            <td>{{{page-contents.section-main.table1.column1.row3}}}</td>
            <td>{{{page-contents.section-main.table1.column2.row3}}}</td>
          </tr>
          <tr>
            <td>{{{page-contents.section-main.table1.column1.row4}}}</td>
            <td>{{{page-contents.section-main.table1.column2.row4}}}</td>
          </tr>
          <tr>
            <td>{{{page-contents.section-main.table1.column1.row5}}}</td>
            <td>{{{page-contents.section-main.table1.column2.row5}}}</td>
          </tr>
          <tr>
            <td>{{{page-contents.section-main.table1.column1.row6}}}</td>
            <td>{{{page-contents.section-main.table1.column2.row6}}}</td>
          </tr>
          <tr>
            <td>{{{page-contents.section-main.table1.column1.row7}}}</td>
            <td>{{{page-contents.section-main.table1.column2.row7}}}</td>
          </tr>
        </tbody>
      </table>
      <p></p>
      <h3>{{{page-contents.section-main.table2.title}}}</h3>
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">{{{page-contents.section-main.table2.column1.head}}}</th>
            <th scope="col">{{{page-contents.section-main.table2.column2.head}}}</th>
            <th scope="col">{{{page-contents.section-main.table2.column3.head}}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{{page-contents.section-main.table2.column1.row1}}}</td>
            <td>{{{page-contents.section-main.table2.column2.row1}}}</td>
            <td>{{{page-contents.section-main.table2.column3.row1}}}</td>
          </tr>
          <tr>
            <td>{{{page-contents.section-main.table2.column1.row2}}}</td>
            <td>{{{page-contents.section-main.table2.column2.row2}}}</td>
            <td>{{{page-contents.section-main.table2.column3.row2}}}</td>
          </tr>
          <tr>
            <td>{{{page-contents.section-main.table2.column1.row3}}}</td>
            <td>{{{page-contents.section-main.table2.column2.row3}}}</td>
            <td>{{{page-contents.section-main.table2.column3.row3}}}</td>
          </tr>
          <tr>
            <td>{{{page-contents.section-main.table2.column1.row4}}}</td>
            <td>{{{page-contents.section-main.table2.column2.row4}}}</td>
            <td>{{{page-contents.section-main.table2.column3.row4}}}</td>
          </tr>
          <tr>
            <td>{{{page-contents.section-main.table2.column1.row5}}}</td>
            <td>{{{page-contents.section-main.table2.column2.row5}}}</td>
            <td>{{{page-contents.section-main.table2.column3.row5}}}</td>
          </tr>
          <tr>
            <td>{{{page-contents.section-main.table2.column1.row6}}}</td>
            <td>{{{page-contents.section-main.table2.column2.row6}}}</td>
            <td>{{{page-contents.section-main.table2.column3.row6}}}</td>
          </tr>
          <tr>
            <td>{{{page-contents.section-main.table2.column1.row7}}}</td>
            <td>{{{page-contents.section-main.table2.column2.row7}}}</td>
            <td>{{{page-contents.section-main.table2.column3.row7}}}</td>
          </tr>
          <tr>
            <td>{{{page-contents.section-main.table2.column1.row8}}}</td>
            <td>{{{page-contents.section-main.table2.column2.row8}}}</td>
            <td>{{{page-contents.section-main.table2.column3.row8}}}</td>
          </tr>
          <tr>
            <td>{{{page-contents.section-main.table2.column1.row9}}}</td>
            <td>{{{page-contents.section-main.table2.column2.row9}}}</td>
            <td>{{{page-contents.section-main.table2.column3.row9}}}</td>
          </tr>
          <tr>
            <td>{{{page-contents.section-main.table2.column1.row10}}}</td>
            <td>{{{page-contents.section-main.table2.column2.row10}}}</td>
            <td>{{{page-contents.section-main.table2.column3.row10}}}</td>
          </tr>
          <tr>
            <td>{{{page-contents.section-main.table2.column1.row11}}}</td>
            <td>{{{page-contents.section-main.table2.column2.row11}}}</td>
            <td>{{{page-contents.section-main.table2.column3.row11}}}</td>
          </tr>
          <tr>
            <td>{{{page-contents.section-main.table2.column1.row12}}}</td>
            <td>{{{page-contents.section-main.table2.column2.row12}}}</td>
            <td>{{{page-contents.section-main.table2.column3.row12}}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
{{/if}}
