{{#if page-contents}}
<section class="section-news">
  <div class="container">
    <div class="container-inner container-inner_sm
      contents-normal">
      {{#unless lang_de}}
      {{> headline-component page-contents.en.headline }}
      {{/unless}}
      {{#if lang_de}}
      {{> headline-component page-contents.de.headline }}
      {{/if}}
    </div>
    <div class="news-list">
      {{#if lang_de}}
      {{{blogentries 'de'}}}
      {{/if}}
      {{#unless lang_de}}
      {{{blogentries 'en'}}}
      {{/unless}}
    </div>
    <div class="text-right">
      {{#unless lang_de}}
      {{> button-link-component
      button=page-contents.en.archiveButton
      direction="right" }}
      {{/unless}}
      {{#if lang_de}}
      {{> button-link-component
      button=page-contents.de.archiveButton
      direction="right" }}
      {{/if}}
    </div>
  </div>
</section>
{{/if}}