{{#if page-contents}}
<section>
  <div class="container">
    <div class="container-inner contents-normal">
      <div>
        {{#if lang_de}}
          {{#each page-contents.de.section-notice.textblock}}
          <p>{{{.}}}</p>
          {{/each}}
        {{else}}
          {{#each page-contents.en.section-notice.textblock}}
          <p>{{{.}}}</p>
          {{/each}}
        {{/if}}
      </div>
      <span class="link-news-archive">
        {{#unless lang_de}}
        {{> button-link-component
        button=page-contents.en.archiveButton
        direction="right" }}
        {{/unless}}
        {{#if lang_de}}
        {{> button-link-component
        button=page-contents.de.archiveButton
        direction="right" }}
        {{/if}}
      </span>
      {{#if lang_de}}
      <h1 class="headline headline-heavy">
        {{page-contents.de.headline.title}}
      </h1>
      <p>{{{page-contents.de.headline.text}}}</p>
      {{else}}
      <h1 class="headline headline-heavy">
        {{page-contents.en.headline.title}}
      </h1>
      <p>{{{page-contents.en.headline.text}}}</p>
      {{/if}}
      <form method="get" id="blog-search-form">
        <div class="input-group input-group-sm">
          <div class="input-group-text">
            <span class="input-group-addon">
              {{#if lang_de}}
              <span id="match-count" aria-live="polite">X / X</span>&nbsp;{{page-contents.de.search.blog-posts}}
              {{else}}
              <span id="match-count" aria-live="polite">X / X</span>&nbsp;{{page-contents.en.search.blog-posts}}
              {{/if}}
            </span>
          </div>
          {{#if lang_de}}
          <input type="text" class="form-control" placeholder="{{page-contents.de.search.placeholder}}" id="blog-search" name="search">
          {{else}}
          <input type="text" class="form-control" placeholder="{{page-contents.en.search.placeholder}}" id="blog-search" name="search">
          {{/if}}
        </div>
      </form>
      
      
      {{#if lang_de}}
      <div class="index">
        <p>{{{page-contents.de.index.highlight}}}</p>
        <details>
          <summary>{{{page-contents.de.index.dropdown.title}}}</summary>
          {{#each page-contents.de.index.dropdown.textblock}}
            <p>{{{.}}}</p>
          {{/each}}
        </details>
      </div>
      {{else}}
      <div class="index">
        <p>{{{page-contents.en.index.highlight}}}</p>
        <details>
          <summary>{{{page-contents.en.index.dropdown.title}}}</summary>
          {{#each page-contents.en.index.dropdown.textblock}}
            <p>{{{.}}}</p>
          {{/each}}
        </details>
      </div>
      {{/if}}

      <div class="blog-list">
        {{#if lang_de}}
        <div id="no_results" class="d-none">
          <p>{{page-contents.de.search.no-results}}</p>
        </div>
        {{{blogentries 'de'}}}
        {{else}}
        <div id="no_results" class="d-none">
          <p>{{page-contents.en.search.no-results}}</p>
        </div>
        {{{blogentries 'en'}}}
        {{/if}}
      </div>
    </div>
  </div>
</section>
{{/if}}