{{#if page-contents}}
<section class="section">
    <div class="container">
        <div class="container-inner container-inner_lg">
            <div class="row">
                <div class="col ">
                <h1 class="h2 headline">{{page-contents.section-main.headline.title}}</h1>
                {{> text-component page-contents.section-main.content}}
                </div>
            </div>
            <div class="row">
                <div class="col ">
                    <br/>
                {{> headline-small-component page-contents.section-main.previous-headline}}
                {{> text-component page-contents.section-main.previous-content}}
                </div>
            </div>
        </div>
    </div>
</section>
{{/if}}
