{{#if page-contents}}
<section>
  <div class="container">
    <div class="container-inner contents-normal">
      
      {{#if lang_de}}
      <h1 class="headline headline-heavy">
        {{page-contents.de.headline.title}}
      </h1>
      <p>{{{page-contents.de.headline.text}}}</p>
      {{else}}
      <h1 class="headline headline-heavy">
        {{page-contents.en.headline.title}}
      </h1>
      <p>{{{page-contents.en.headline.text}}}</p>
      {{/if}}

      <div class="blog-list">
        {{#if lang_de}}
        {{{scienceblogentries 'de'}}}
        {{else}}
        {{{scienceblogentries 'en'}}}
        {{/if}}
      </div>
    </div>
  </div>
</section>
{{/if}}
