<ul class="list">
    <li class="item">
        <a href="#" target="_blank" rel="noopener noreferrer"><img src="{{root}}assets/img/logos/x.svg"/></a>
    </li>
    <li class="item">
        <a href="#" target="_blank" rel="noopener noreferrer"><img src="{{root}}assets/img/logos/x.svg"/></a>
    </li>
    <li class="item">
        <a href="#" target="_blank" rel="noopener noreferrer"><img src="{{root}}assets/img/logos/x.svg"/></a>
    </li>
    <li class="item">
        <a href="#" target="_blank" rel="noopener noreferrer"><img src="{{root}}assets/img/logos/x.svg"/></a>
    </li>
    <li class="item">
        <a href="#" target="_blank" rel="noopener noreferrer"><img src="{{root}}assets/img/logos/x.svg"/></a>
    </li>
    <li class="item">
        <a href="#" target="_blank" rel="noopener noreferrer"><img src="{{root}}assets/img/logos/x.svg"/></a>
    </li>
</ul>
