{{#if title}}
    {{#if large-title}}
    <h2 class="headline{{#if id}} js-anchor{{/if}}"{{#if id}} id="{{id}}"{{/if}}>{{{title}}}</h2>
    {{else}}
    <h3 class="headline{{#if id}} js-anchor{{/if}}"{{#if id}} id="{{id}}"{{/if}}>{{{title}}}</h3>
    {{/if}}
{{/if}}
{{#if text}}
<p>{{{text}}}</p>
{{/if}}
{{#if textblock}}
{{#each textblock}}
<p>{{{.}}}</p>
<h4 class="headline">{{head}}</h4>
{{{block}}}
{{/each}}
{{/if}}
{{#if textcaption}}
<p class="textcaption">{{textcaption}}</p>
{{/if}}
{{#if button}}
{{> button-component button=button}}
{{/if}}
{{#if links}}
{{#if linksblock}}<div class="btn-block">{{/if}}
{{#each links}}
{{> button-link-component button=.}}
{{/each}}
{{#if linksblock}}</div>{{/if}}
{{/if}}
