<section class="">
  <div class="container">
    <div class="text-center">
        <h2>How does the app work?</h2>
    </div>
    <div class="row">
      <div class="col col-xs-12 col-md-6">
        <h5>Corona-Warn-App Open Source Project</h5>
        <h1>Help us improve the COVID-19
        exposure notification app</h1>
        <p>
          The Corona-Warn-App open-source project develops a tracking app based on technology with a decentralized approach that
          notifies users if they have been exposed to COVID-19. It maintains the highest security and data privacy standards to
          protect the end-users and encourage adoption.
        </p>
      </div>
      <div class="col col-xs-12 col-md-6">
        <div class="image-block"></div>
      </div>
    </div>
  </div>
</section>