<!DOCTYPE html>
<html class="no-js" lang="{{#unless lang_de}}en{{/unless}}{{#if lang_de}}de{{/if}}">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="{{#if page-description}}{{page-description}}{{/if}}" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta http-equiv="refresh" content="2; URL=https://www.coronawarn.app/{{#unless lang_de}}en{{/unless}}{{#if lang_de}}de{{/if}}/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{#if global.favicon}}
    <link
      rel="icon"
      type="image/{{#if global.favicon.type}}{{global.favicon.type}}{{/if}}{{#unless global.favicon.type}}png{{/unless}}"
      sizes="32x32"
      href="{{global.favicon.url}}"
    />
    {{/if}}
    <meta property="og:title" content="{{page-title}}" />
    <meta property="og:description" content="{{#if page-description}}{{page-description}}{{/if}}" />
    <meta property="og:image" content="https://www.coronawarn.app/assets/img/icons/preview-icon.png" />
    <title>{{page-title}}</title>
    <script src="assets/js/static/redirect.js"></script>
  </head>
  <body>
  </body>
</html>
