name: Deploy Website
# Test locally with act -P ubuntu-latest=nektos/act-environments-ubuntu:18.04 -j prod

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: ["master"]
  schedule:
    - cron: '0 11 * * *'
    - cron: '0 17 * * *'
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "prod"
  prod:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[ci skip]') && github.repository == 'corona-warn-app/cwa-website'"

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Install requirements
        run: |
          curl https://cli-assets.heroku.com/install.sh | sh
          sudo apt-get install -y libnode-dev libssl-dev automake npm nodejs libpng-dev libjpeg-dev s3cmd

      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Setup Node.js environment (v16)
        uses: actions/setup-node@v2
        with:
          node-version: 'lts/gallium'

      - name: npm install
        run: npm install

      - name: gulp build
        run: npm run build

      - name: keepalive.html
        run: echo "OK" > public/keepalive.html

      # Runs a single command using the runners shell
      - name: Deploy master
        uses: jakejarvis/s3-sync-action@master
        with:
          args: --acl public-read --follow-symlinks --cache-control max-age=60 --exclude 'public/assets/screenshots/2-2/*' --exclude 'public/assets/screenshots/2-3/*' --exclude 'public/assets/screenshots/2-4/*' --exclude 'public/assets/screenshots/2-5/*' --exclude 'public/assets/screenshots/2-6/*' --exclude 'public/assets/screenshots/2-7/*' --exclude 'public/assets/screenshots/2-8/*' --exclude 'public/assets/screenshots/2-9/*' --exclude 'public/assets/screenshots/2-10/*' --exclude 'public/assets/screenshots/2-11/*' --exclude 'public/assets/screenshots/2-12/*' --exclude 'public/assets/screenshots/2-13/*' --exclude 'public/assets/screenshots/2-14/*' --exclude 'public/assets/screenshots/2-15/*' --exclude 'public/assets/screenshots/2-16/*' --exclude 'public/assets/screenshots/2-17/*' --exclude 'public/assets/screenshots/2-18/*' --exclude 'public/assets/screenshots/2-19/*' --exclude 'public/assets/screenshots/2-20/*' --exclude 'public/assets/img/science/2021-06-15-science-blog-1/*' --exclude 'public/assets/img/science/2021-07-08-science-blog-2/*' --exclude 'public/assets/img/science/2021-08-02-science-blog-3/*' --exclude 'public/assets/img/science/2021-10-15-science-blog-4/*'
        env:
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
          AWS_S3_ENDPOINT: ${{ secrets.AWS_S3_ENDPOINT }}
          SOURCE_DIR: "public"

      - name: Set mime type for FAQ redirects
        run: |
          s3cmd --access_key=${{ secrets.AWS_ACCESS_KEY_ID }} --secret_key=${{ secrets.AWS_SECRET_ACCESS_KEY }} --verbose --human-readable-sizes --stop-on-error --region=${{ secrets.AWS_REGION }} --host=${{ secrets.AWS_S3_ENDPOINT }} --host-bucket=${{ secrets.AWS_S3_ENDPOINT }} --recursive modify --add-header='content-type':'text/html' s3://${{secrets.AWS_S3_BUCKET }}/de/faq/
          s3cmd --access_key=${{ secrets.AWS_ACCESS_KEY_ID }} --secret_key=${{ secrets.AWS_SECRET_ACCESS_KEY }} --verbose --human-readable-sizes --stop-on-error --region=${{ secrets.AWS_REGION }} --host=${{ secrets.AWS_S3_ENDPOINT }} --host-bucket=${{ secrets.AWS_S3_ENDPOINT }} --recursive modify --add-header='content-type':'text/html' s3://${{secrets.AWS_S3_BUCKET }}/en/faq/
          s3cmd --access_key=${{ secrets.AWS_ACCESS_KEY_ID }} --secret_key=${{ secrets.AWS_SECRET_ACCESS_KEY }} --verbose --human-readable-sizes --stop-on-error --region=${{ secrets.AWS_REGION }} --host=${{ secrets.AWS_S3_ENDPOINT }} --host-bucket=${{ secrets.AWS_S3_ENDPOINT }} --recursive modify --remove-header=Content-Security-Policy s3://${{secrets.AWS_S3_BUCKET }}/de/science/
          s3cmd --access_key=${{ secrets.AWS_ACCESS_KEY_ID }} --secret_key=${{ secrets.AWS_SECRET_ACCESS_KEY }} --verbose --human-readable-sizes --stop-on-error --region=${{ secrets.AWS_REGION }} --host=${{ secrets.AWS_S3_ENDPOINT }} --host-bucket=${{ secrets.AWS_S3_ENDPOINT }} --recursive modify --remove-header=Content-Security-Policy s3://${{secrets.AWS_S3_BUCKET }}/en/science/
